<a href="https://colab.research.google.com/github/dha3sh/News-Clasification-Using-NLP/blob/main/News_classification_using_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import nltk
import pandas as pd

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [ ]:
fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [ ]:
genuine

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [ ]:
fake['genuiness'] = 0
genuine['genuiness'] = 1

In [ ]:
genuine

,title,text,subject,date,genuiness
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [ ]:
dataset=pd.concat([fake,genuine])

In [ ]:
dataset

,title,text,subject,date,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [ ]:
dataset = dataset.reset_index(drop=True)

In [ ]:
dataset

,title,text,subject,date,genuiness
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [ ]:
dataset = dataset.drop(['date','title','subject'], axis = 1)

In [ ]:
dataset

                                                    text  genuiness
0      Donald Trump just couldn t wish all Americans ...          0
1      House Intelligence Committee Chairman Devin Nu...          0
2      On Friday, it was revealed that former Milwauk...          0
3      On Christmas day, Donald Trump announced that ...          0
4      Pope Francis used his annual Christmas Day mes...          0
...                                                  ...        ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...          1
44894  LONDON (Reuters) - LexisNexis, a provider of l...          1
44895  MINSK (Reuters) - In the shadow of disused Sov...          1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...          1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...          1

[44898 rows x 2 columns]

In [ ]:
from nltk.tokenize import word_tokenize
dataset['text'] = dataset['text'].apply(word_tokenize)

In [ ]:
dataset

                                                    text  genuiness
0      [Donald, Trump, just, couldn, t, wish, all, Am...          0
1      [House, Intelligence, Committee, Chairman, Dev...          0
2      [On, Friday, ,, it, was, revealed, that, forme...          0
3      [On, Christmas, day, ,, Donald, Trump, announc...          0
4      [Pope, Francis, used, his, annual, Christmas, ...          0
...                                                  ...        ...
44893  [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...          1
44894  [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...          1
44895  [MINSK, (, Reuters, ), -, In, the, shadow, of,...          1
44896  [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...          1
44897  [JAKARTA, (, Reuters, ), -, Indonesia, will, b...          1

[44898 rows x 2 columns]

In [ ]:
from nltk.stem.snowball import SnowballStemmer

In [ ]:
sb = SnowballStemmer('english')

In [ ]:
def stem_it(text):
  return [sb.stem(word) for word in text]

In [ ]:
dataset['text'] = dataset['text'].apply(stem_it)

In [ ]:
dataset

                                                    text  genuiness
0      [donald, trump, just, couldn, t, wish, all, am...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [on, friday, ,, it, was, reveal, that, former,...          0
3      [on, christma, day, ,, donald, trump, announc,...          0
4      [pope, franci, use, his, annual, christma, day...          0
...                                                  ...        ...
44893  [brussel, (, reuter, ), -, nato, alli, on, tue...          1
44894  [london, (, reuter, ), -, lexisnexi, ,, a, pro...          1
44895  [minsk, (, reuter, ), -, in, the, shadow, of, ...          1
44896  [moscow, (, reuter, ), -, vatican, secretari, ...          1
44897  [jakarta, (, reuter, ), -, indonesia, will, bu...          1

[44898 rows x 2 columns]

In [ ]:
def stopword_removal(text):
  return [word for word in text if len(word) >> 2]

In [ ]:
dataset['text'] = dataset['text'].apply(stopword_removal)

In [ ]:
dataset

                                                    text  genuiness
0      [donald, trump, just, couldn, wish, american, ...          0
1      [hous, intellig, committe, chairman, devin, nu...          0
2      [friday, reveal, that, former, milwauke, sheri...          0
3      [christma, donald, trump, announc, that, would...          0
4      [pope, franci, annual, christma, messag, rebuk...          0
...                                                  ...        ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...          1
44894  [london, reuter, lexisnexi, provid, legal, reg...          1
44895  [minsk, reuter, shadow, disus, soviet-era, fac...          1
44896  [moscow, reuter, vatican, secretari, state, ca...          1
44897  [jakarta, reuter, indonesia, will, sukhoi, fig...          1

[44898 rows x 2 columns]

In [ ]:
dataset['text'] = dataset['text'].apply(''.join)

In [ ]:
dataset

                                                    text  genuiness
0      donaldtrumpjustcouldnwishamericanhappiyearleav...          0
1      housintelligcommittechairmandevinnunehavebeenu...          0
2      fridayrevealthatformermilwaukesheriffdavidclar...          0
3      christmadonaldtrumpannouncthatwouldbackworkfol...          0
4      popefranciannualchristmamessagrebukdonaldtrump...          0
...                                                  ...        ...
44893  brusselreuternatoallituesdaywelcompresiddonald...          1
44894  londonreuterlexisnexiprovidlegalregulatoribusi...          1
44895  minskreutershadowdisussoviet-erafactoriminskst...          1
44896  moscowreutervaticansecretaristatecardinpietrop...          1
44897  jakartareuterindonesiawillsukhoifighterworth1....          1

[44898 rows x 2 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(dataset['text'], dataset['genuiness'], test_size = 0.25)

In [ ]:
x_train

10111    nugentnailheadnugentdavidcrosbimidstsocial-med...
9006     nucleardealbecamrepublicantalkpointsoonbecamin...
15263    thisgreatwonderpositeventpushbackobamapoliciev...
35732    brusselreuterpolandprimeministsaidthursdayexpe...
9615     lawyerinformunderorderthatpreventfrombeforcong...
                               ...
7281     recentre-releasfootagfrom1988appearoprahwinfre...
36330    dhakareuterrohingyarefugecontinufleemyanmarban...
21076    foundcollege-agdaughterattendbernisanderralliw...
12154    leadrepublicanhavealreadiexpressanxietiaboutti...
35128    moscowreutertherefirmdatemuch-discusssyriapeac...
Name: text, Length: 33673, dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidfv = TfidfVectorizer(max_df = 0.7)

In [ ]:
tfidfv_train = tfidfv.fit_transform(x_train)
tfidfv_test = tfidfv.transform(x_test)

In [ ]:
print(tfidfv_train)

  (0, 234367)	0.49075729713795235
  (0, 60836)	0.1913873068502876
  (0, 156837)	0.49075729713795235
  (0, 144662)	0.49075729713795235
  (0, 156835)	0.49075729713795235
  (1, 90936)	0.23848193107859517
  (1, 221202)	0.3071036255971303
  (1, 156755)	0.3071036255971303
  (1, 102707)	0.3071036255971303
  (1, 233249)	0.3071036255971303
  (1, 102704)	0.3071036255971303
  (1, 243607)	0.3071036255971303
  (1, 231764)	0.3071036255971303
  (1, 265371)	0.3071036255971303
  (1, 262283)	0.3071036255971303
  (1, 156733)	0.3071036255971303
  (2, 185185)	0.32877630416988113
  (2, 194758)	0.40159796295717876
  (2, 239070)	0.40159796295717876
  (2, 24753)	0.40159796295717876
  (2, 219543)	0.40159796295717876
  (2, 67887)	0.2924064338546882
  (2, 228012)	0.40159796295717876
  (3, 28770)	0.3333333333333333
  (3, 75900)	0.3333333333333333
  :	:
  (33668, 262372)	0.12921657984901544
  (33668, 61509)	0.08045951408752748
  (33669, 112526)	0.34080335445422316
  (33669, 211972)	0.34080335445422316
  (33669, 103388)	0.34080335445422316
  (33669, 16911)	0.34080335445422316
  (33669, 739)	0.34080335445422316
  (33669, 2156)	0.34080335445422316
  (33669, 186041)	0.34080335445422316
  (33669, 73774)	0.34080335445422316
  (33669, 14223)	0.2661288949775895
  (33670, 142054)	0.408248290463863
  (33670, 207749)	0.408248290463863
  (33670, 260091)	0.408248290463863
  (33670, 22850)	0.408248290463863
  (33670, 26770)	0.408248290463863
  (33670, 95912)	0.408248290463863
  (33671, 234386)	0.4309702450753549
  (33671, 81848)	0.4309702450753549
  (33671, 143006)	0.4309702450753549
  (33671, 178396)	0.4309702450753549
  (33671, 133793)	0.4309702450753549
  (33671, 185056)	0.26706411083940623
  (33672, 74620)	0.7071067811865475
  (33672, 150227)	0.7071067811865475

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr = LogisticRegression(max_iter = 1000)
lr.fit(tfidfv_train, y_train)

LogisticRegression(max_iter=1000)

In [ ]:
y_pred = lr.predict(tfidfv_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.8616481069042317

In [ ]:
from sklearn.linear_model import PassiveAggressiveClassifier

pac = PassiveAggressiveClassifier(max_iter = 100)
pac.fit(tfidfv_train, y_train)

PassiveAggressiveClassifier(max_iter=100)

In [ ]:
y_pred_pac = pac.predict(tfidfv_test)
accuracy_score(y_test, y_pred_pac)

0.8725167037861915